body, html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  color: lightgray;
}

.bg {
  /* The image used */
  background-image: url("portfolio_background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0%;
  text-align: center;
}

.hs {
  float: right;
  height: 25%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  float: right;
  height: 100%;
}

p {
  padding: 0%;
  margin: 0%;
}

.music {
  float: left;
}

table {
  text-align: center;
  margin: 0%;
  color: black;
}

a:link {
  color: green;
}

a:visited {
  color: violet;
}

a:hover {
  color: lightblue;
}
.red {
 background-color: darkkhaki;
}
.yellow {
  background-color: gray;
}

.nested {
  float: right;
}

.quote {
  font-style: italic;
  position: fixed;
  bottom: 5px;
  right: 100px;
}

span {
  color: red;
  font-weight: bold;
}
